@font-face {
  font-family: Starjout;
  src: url(../font/Starjout.ttf);
}



body {
  background-size: cover;
  color: #967926;
  font-family: Starjout;
  background: url(../images/starwarsbgd.png);
}

.heading {
  background-color: rgb(21, 21, 21);
}

.heading h1 {
  font-size: 65px;
}

img {
  width: 200px;
  height: 200px;
}


.attack-btn {
  position: relative;
  top: 150px;
}

